<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a.com.moon.deokjung.deokjung" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.write_contacts" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="덕정 비상연락망"
        android:theme="@style/AppTheme" >
        <receiver android:name=".AnswerCallBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <provider android:name=".Provider" android:authorities="com.moon"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".ContactList"
            android:label="연락처 목록" >
        </activity>
    </application>

</manifest>
