<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.moon.speedalim"
    android:versionCode="51"
    android:versionName="51" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="kr.co.moon.speedalim.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <permission
        android:name="kr.co.moon.speedalim.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <receiver android:name="AlarmReceiver" />
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="kr.co.moon.speedalim" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" >
        </service>

        <receiver android:name="BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="MyContent"
            android:authorities="kr.co.moon.speedalim" >
        </provider>

        <activity
            android:name=".SpeedAlimActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="DailyList"
            android:clearTaskOnLaunch="true"
             android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="FirstLogin"
            android:clearTaskOnLaunch="true"
             android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="NumberPicker"
            android:clearTaskOnLaunch="true"
             android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="SchoolPicker"
            android:clearTaskOnLaunch="true"
             android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="BootAlarm"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="Notice"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="NoticeThread"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NoticePopup"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="About"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="DAUMAD_CLIENT_ID"
            android:value="4a00Z0LT13de76a2366" />
        <meta-data
            android:name="MOBILEAD_ALLOW_LOCATION"
            android:value="true" />
    </application>

</manifest>